@each $key,$val in $colors{ // *$key and $val won't exist outside of the loop
    .text-#{$key}{ //When $key will be "primary" and color for the corresponding key. This will be '.text-primary {color: *whatever the color is*)
        color: $val; 
    } //*This is the way of using variables inside a selector #{$variable}.

    .bg-#{$key}{
        background-color: $val;
    }
     //Light Variation
    @for $i from 1 through 9 { // This is the SASS for loop
        .text-#{$key}-light-#{$i}{
            color: mix(white, $val, $i * 10%);
        }

        .bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i * 10%);
        }
    }

    //Dark Variation
    @for $i from 1 through 9 {
        .text-#{$key}-dark-#{$i}{
            color: mix(black, $val, $i * 10%);
        }
        .bg-#{$key}-dark-#{$i}{
            background-color: mix(black, $val, $i * 10%);
        }
    }
}