//Varibles
// *Theme Colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

//color pallete 
//*Map
$colors:(
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "orange": #ffa600,
    "green": #19e635,
    "purple": #9900ff,
    "gray": #808080,
    "black": black,
    "white": white
);


@debug map-get($colors, "purple"); //returns the value for the key
@debug map-has-key($colors, "secondary" ); // Returns a boolean after checking if the map has the key or not
@debug map-remove($colors, "primary"); //Returns a new map after removing the key
@debug map-merge($colors, ("pink": #ffc0cb)); //Merge two maps: NOTE: Map is around a parenthesis so we can pass am instant map like this

.test-btn {
    background-color: map-get($colors, "purple");
}

//Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

//font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xll: $base-font-size * 3;